/* CSS goes here */



@media (min-width: 768px) {
    /* general page stuff */
}

/* rules for the page header */
header {
    background-color: blue;
    font-size: 3em;
}

@media (min-width: 768px){
    header {
        background-color: red;
        font-size: 4em;
    }
}